.main-container {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinwheel {
  margin: 10px;
  margin-top: 20px;
  background-color: yellow;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.price {
  margin: 5px;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}
.a {
  position: relative;
  top: -110px;
  left: 220px;
}
.b {
  position: relative;
  top: 120px;
  left: 210px;
}
.c {
  position: relative;
  bottom: 0px;
  left: 305px;
}
.d {
  position: relative;
  top: -75px;
  left: 80px;
}
.e {
  position: relative;
  top: 90px;
  left: 70px;
}
.f {
  position: relative;
  top: 80px;
  left: 230px;
}
.g {
  position: relative;
  top: -80px;
  left: 210px;
}
.circle {
  background-color: lightgreen;
  height: 40%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
button {
  border: 2px white;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  margin: 5px;
  paddig: 10px;
}
input {
  height: 20px;
  width: 200px;
  margin-bottom: 20px;
  border: 2px white;
  border-radius: 10px;
  padding: 5px;
}
@keyframes spinwheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--random-rotation, 0deg));
  }
}
